# Ignore virtual environment
venv/

# Ignore environment variables file
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore logs
logs/
*.log

# Ignore database files (if using SQLite for development)
*.sqlite3

# Ignore system files
.DS_Store

.idea/
