{
  "openapi": "3.0.0",
  "info": {
    "title": "Yoll API",
    "description": "Yoll API provides real multi-domain services allowing students to integrate it in their projects.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://yollstudentapi.com",
      "description": "Server"
    }
  ],
  "paths": {
    "/api/users": {
      "get": {
        "summary": "Retrieve all users",
        "description": "Returns a list of all users. **Requires header**: X-Secret-Token",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "X-Secret-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Secret token required for authentication"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "name": {
                        "type": "string",
                        "example": "Alice"
                      },
                      "email": {
                        "type": "string",
                        "example": "alice@example.com"
                      }
                    },
                    "required": ["id", "name", "email"]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new user",
        "description": "Creates a user with name and email.",
        "tags": ["Users"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "email"],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Alice"
                  },
                  "email": {
                    "type": "string",
                    "example": "alice@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "example": "Alice"
                    },
                    "email": {
                      "type": "string",
                      "example": "alice@example.com"
                    }
                  },
                  "required": ["id", "name", "email"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data (e.g., invalid email format)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid email format"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/{user_id}": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          },
          "description": "ID of the user"
        }
      ],
      "get": {
        "summary": "Retrieve a user by ID",
        "description": "Fetches a single user based on their ID.",
        "tags": ["Users"],
        "responses": {
          "200": {
            "description": "User retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "example": "Alice"
                    },
                    "email": {
                      "type": "string",
                      "example": "alice@example.com"
                    }
                  },
                  "required": ["id", "name", "email"]
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update user details",
        "description": "Updates the name and email of a user.",
        "tags": ["Users"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "email"],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Updated Name"
                  },
                  "email": {
                    "type": "string",
                    "example": "updated@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User updated successfully"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Name and email are required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a user",
        "description": "Deletes a user by ID.",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "X-Delete-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Grants privileges for delete operation"
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User deleted successfully"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient privileges for delete operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Insufficient privileges for delete operation"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/movies": {
      "get": {
        "summary": "Retrieve all movies for a user",
        "description": "Returns a list of movies for the specified user. (Requires query parameter user_id)",
        "tags": ["Movies"],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the user"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a list of movies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "title": {
                        "type": "string",
                        "example": "Inception"
                      },
                      "genre": {
                        "type": "string",
                        "example": "Sci-Fi"
                      },
                      "release_year": {
                        "type": "integer",
                        "example": 2010
                      }
                    },
                    "required": ["id", "title", "genre", "release_year"]
                  }
                }
              }
            }
          },
          "400": {
            "description": "User ID is required as a query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "User ID is required as a query parameter"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No movies found for this user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "No movies found for this user"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new movie",
        "description": "Creates a movie with title, genre, release_year, and user_id.",
        "tags": ["Movies"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "user_id"],
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "Inception"
                  },
                  "genre": {
                    "type": "string",
                    "example": "Sci-Fi"
                  },
                  "release_year": {
                    "type": "integer",
                    "example": 2010
                  },
                  "user_id": {
                    "type": "integer",
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Movie created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "title": {
                      "type": "string",
                      "example": "Inception"
                    },
                    "genre": {
                      "type": "string",
                      "example": "Sci-Fi"
                    },
                    "release_year": {
                      "type": "integer",
                      "example": 2010
                    },
                    "user_id": {
                      "type": "integer",
                      "example": 1
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "genre",
                    "release_year",
                    "user_id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Title and user_id are required"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/movies/{movie_id}": {
      "parameters": [
        {
          "name": "movie_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          },
          "description": "ID of the movie"
        },
        {
          "name": "user_id",
          "in": "query",
          "required": true,
          "schema": {
            "type": "integer"
          },
          "description": "ID of the user"
        }
      ],
      "delete": {
        "summary": "Delete a movie",
        "description": "Deletes a movie by its ID for the specified user.",
        "tags": ["Movies"],
        "responses": {
          "200": {
            "description": "Movie deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Movie deleted successfully"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "400": {
            "description": "User ID is required to delete a movie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "User ID is required as a query parameter"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Movie not found or does not belong to this user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Movie not found or does not belong to this user"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/todos": {
      "get": {
        "summary": "Retrieve all todos for a user",
        "description": "Returns a list of all todos for the specified user.",
        "tags": ["Todos"],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the user"
          }
        ],
        "responses": {
          "200": {
            "description": "List of todos retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "title": {
                        "type": "string",
                        "example": "Buy groceries"
                      },
                      "completed": {
                        "type": "boolean",
                        "example": false
                      },
                      "user_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-02-02T19:42:53Z"
                      }
                    },
                    "required": [
                      "id",
                      "title",
                      "completed",
                      "user_id",
                      "created_at"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: user_id query parameter is required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "user_id is required as a query parameter: /todos?user_id=<user_id>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No todos found for the given user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "No todos found for this user_id=1"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new todo",
        "description": "Creates a new todo with a title, completed status, and user_id for a specific user.",
        "tags": ["Todos"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "user_id"],
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "Buy groceries"
                  },
                  "completed": {
                    "type": "boolean",
                    "example": false
                  },
                  "user_id": {
                    "type": "integer",
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Todo created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "title": {
                      "type": "string",
                      "example": "Buy groceries"
                    },
                    "completed": {
                      "type": "boolean",
                      "example": false
                    },
                    "user_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-02-02T19:42:53Z"
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "completed",
                    "user_id",
                    "created_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Missing required fields or an internal error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Fields title and user_id are required"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/todos/{todo_id}": {
      "parameters": [
        {
          "name": "todo_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          },
          "description": "ID of the todo"
        },
        {
          "name": "user_id",
          "in": "query",
          "required": true,
          "schema": {
            "type": "integer"
          },
          "description": "ID of the user"
        }
      ],
      "get": {
        "summary": "Retrieve a specific todo",
        "description": "Fetches a single todo for the specified user.",
        "tags": ["Todos"],
        "responses": {
          "200": {
            "description": "Todo retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "title": {
                      "type": "string",
                      "example": "Buy groceries"
                    },
                    "completed": {
                      "type": "boolean",
                      "example": false
                    },
                    "user_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-02-02T19:42:53Z"
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "completed",
                    "user_id",
                    "created_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "user_id and todo_id are required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Todo not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Todo with id=1 not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a todo",
        "description": "Updates the title and/or completed status of a todo for the specified user.",
        "tags": ["Todos"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title"],
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "Updated title"
                  },
                  "completed": {
                    "type": "boolean",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Todo updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Todo updated successfully"
                    },
                    "task": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "title": {
                          "type": "string",
                          "example": "Updated title"
                        },
                        "completed": {
                          "type": "boolean",
                          "example": true
                        },
                        "user_id": {
                          "type": "integer",
                          "example": 1
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-02-02T19:42:53Z"
                        }
                      },
                      "required": [
                        "id",
                        "title",
                        "completed",
                        "user_id",
                        "created_at"
                      ]
                    }
                  },
                  "required": ["message", "task"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Field title is required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Todo not found or update failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Todo with id=1 not found or update failed"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a todo",
        "description": "Deletes a todo for the specified user.",
        "tags": ["Todos"],
        "responses": {
          "200": {
            "description": "Todo deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Todo with id=1 deleted successfully"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "404": {
            "description": "Todo not found or does not belong to this user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Todo with id=1 not found or does not belong to this user"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
