{
  "openapi": "3.0.0",
  "info": {
    "title": "Yoll API",
    "description": "Yoll API provides real multi-domain services allowing students to integrate it in their projects.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://yollstudentapi.com",
      "description": "Server"
    }
  ],
  "paths": {
    "/api/users": {
      "get": {
        "summary": "Retrieve all users",
        "description": "Returns a list of all users. **Requires header**: X-Secret-Token",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "X-Secret-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Secret token required for authentication"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "name": {
                        "type": "string",
                        "example": "Alice"
                      },
                      "email": {
                        "type": "string",
                        "example": "alice@example.com"
                      }
                    },
                    "required": ["id", "name", "email"]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new user",
        "description": "Creates a user with name and email.",
        "tags": ["Users"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "email"],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Alice"
                  },
                  "email": {
                    "type": "string",
                    "example": "alice@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "example": "Alice"
                    },
                    "email": {
                      "type": "string",
                      "example": "alice@example.com"
                    }
                  },
                  "required": ["id", "name", "email"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data (e.g., invalid email format)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid email format"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/{user_id}": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          },
          "description": "ID of the user"
        }
      ],
      "get": {
        "summary": "Retrieve a user by ID",
        "description": "Fetches a single user based on their ID.",
        "tags": ["Users"],
        "responses": {
          "200": {
            "description": "User retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "example": "Alice"
                    },
                    "email": {
                      "type": "string",
                      "example": "alice@example.com"
                    }
                  },
                  "required": ["id", "name", "email"]
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update user details",
        "description": "Updates the name and email of a user.",
        "tags": ["Users"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "email"],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Updated Name"
                  },
                  "email": {
                    "type": "string",
                    "example": "updated@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User updated successfully"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Name and email are required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a user",
        "description": "Deletes a user by ID.",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "X-Delete-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Grants privileges for delete operation"
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User deleted successfully"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient privileges for delete operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Insufficient privileges for delete operation"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/movies": {
      "get": {
        "summary": "Retrieve all movies for a user",
        "description": "Returns a list of movies for the specified user. (Requires query parameter user_id)",
        "tags": ["Movies"],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the user"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a list of movies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "title": {
                        "type": "string",
                        "example": "Inception"
                      },
                      "genre": {
                        "type": "string",
                        "example": "Sci-Fi"
                      },
                      "release_year": {
                        "type": "integer",
                        "example": 2010
                      }
                    },
                    "required": ["id", "title", "genre", "release_year"]
                  }
                }
              }
            }
          },
          "400": {
            "description": "User ID is required as a query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "User ID is required as a query parameter"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No movies found for this user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "No movies found for this user"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new movie",
        "description": "Creates a movie with title, genre, release_year, and user_id.",
        "tags": ["Movies"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "user_id"],
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "Inception"
                  },
                  "genre": {
                    "type": "string",
                    "example": "Sci-Fi"
                  },
                  "release_year": {
                    "type": "integer",
                    "example": 2010
                  },
                  "user_id": {
                    "type": "integer",
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Movie created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "title": {
                      "type": "string",
                      "example": "Inception"
                    },
                    "genre": {
                      "type": "string",
                      "example": "Sci-Fi"
                    },
                    "release_year": {
                      "type": "integer",
                      "example": 2010
                    },
                    "user_id": {
                      "type": "integer",
                      "example": 1
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "genre",
                    "release_year",
                    "user_id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Title and user_id are required"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/movies/{movie_id}": {
      "parameters": [
        {
          "name": "movie_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          },
          "description": "ID of the movie"
        },
        {
          "name": "user_id",
          "in": "query",
          "required": true,
          "schema": {
            "type": "integer"
          },
          "description": "ID of the user"
        }
      ],
      "delete": {
        "summary": "Delete a movie",
        "description": "Deletes a movie by its ID for the specified user.",
        "tags": ["Movies"],
        "responses": {
          "200": {
            "description": "Movie deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Movie deleted successfully"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "400": {
            "description": "User ID is required to delete a movie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "User ID is required as a query parameter"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Movie not found or does not belong to this user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Movie not found or does not belong to this user"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/todos": {
      "get": {
        "summary": "Retrieve all todos for a user",
        "description": "Returns a list of all todos for the specified user.",
        "tags": ["Todos"],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the user"
          }
        ],
        "responses": {
          "200": {
            "description": "List of todos retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "title": {
                        "type": "string",
                        "example": "Buy groceries"
                      },
                      "completed": {
                        "type": "boolean",
                        "example": false
                      },
                      "user_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-02-02T19:42:53Z"
                      }
                    },
                    "required": [
                      "id",
                      "title",
                      "completed",
                      "user_id",
                      "created_at"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: user_id query parameter is required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "user_id is required as a query parameter: /todos?user_id=<user_id>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No todos found for the given user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "No todos found for this user_id=1"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new todo",
        "description": "Creates a new todo with a title, completed status, and user_id for a specific user.",
        "tags": ["Todos"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "user_id"],
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "Buy groceries"
                  },
                  "completed": {
                    "type": "boolean",
                    "example": false
                  },
                  "user_id": {
                    "type": "integer",
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Todo created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "title": {
                      "type": "string",
                      "example": "Buy groceries"
                    },
                    "completed": {
                      "type": "boolean",
                      "example": false
                    },
                    "user_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-02-02T19:42:53Z"
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "completed",
                    "user_id",
                    "created_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Missing required fields or an internal error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Fields title and user_id are required"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/todos/{todo_id}": {
      "parameters": [
        {
          "name": "todo_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          },
          "description": "ID of the todo"
        },
        {
          "name": "user_id",
          "in": "query",
          "required": true,
          "schema": {
            "type": "integer"
          },
          "description": "ID of the user"
        }
      ],
      "get": {
        "summary": "Retrieve a specific todo",
        "description": "Fetches a single todo for the specified user.",
        "tags": ["Todos"],
        "responses": {
          "200": {
            "description": "Todo retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "title": {
                      "type": "string",
                      "example": "Buy groceries"
                    },
                    "completed": {
                      "type": "boolean",
                      "example": false
                    },
                    "user_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-02-02T19:42:53Z"
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "completed",
                    "user_id",
                    "created_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "user_id and todo_id are required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Todo not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Todo with id=1 not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a todo",
        "description": "Updates the title and/or completed status of a todo for the specified user.",
        "tags": ["Todos"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title"],
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "Updated title"
                  },
                  "completed": {
                    "type": "boolean",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Todo updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Todo updated successfully"
                    },
                    "task": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "title": {
                          "type": "string",
                          "example": "Updated title"
                        },
                        "completed": {
                          "type": "boolean",
                          "example": true
                        },
                        "user_id": {
                          "type": "integer",
                          "example": 1
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-02-02T19:42:53Z"
                        }
                      },
                      "required": [
                        "id",
                        "title",
                        "completed",
                        "user_id",
                        "created_at"
                      ]
                    }
                  },
                  "required": ["message", "task"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Field title is required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Todo not found or update failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Todo with id=1 not found or update failed"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a todo",
        "description": "Deletes a todo for the specified user.",
        "tags": ["Todos"],
        "responses": {
          "200": {
            "description": "Todo deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Todo with id=1 deleted successfully"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "404": {
            "description": "Todo not found or does not belong to this user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Todo with id=1 not found or does not belong to this user"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/contacts": {
      "post": {
        "summary": "Create a new contact for a user",
        "description": "Creates a new contact. The request body must include the user_id and full_name along with any other contact details.",
        "tags": ["Contacts"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["user_id", "full_name"],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "example": 1
                  },
                  "full_name": {
                    "type": "string",
                    "example": "John Doe"
                  },
                  "phone_number": {
                    "type": "string",
                    "example": "123-456-7890"
                  },
                  "email": {
                    "type": "string",
                    "example": "john.doe@example.com"
                  },
                  "street": {
                    "type": "string",
                    "example": "123 Main St"
                  },
                  "city": {
                    "type": "string",
                    "example": "Anytown"
                  },
                  "state": {
                    "type": "string",
                    "example": "CA"
                  },
                  "postal_code": {
                    "type": "string",
                    "example": "90210"
                  },
                  "country": {
                    "type": "string",
                    "example": "USA"
                  },
                  "additional_info": {
                    "type": "string",
                    "example": "VIP client"
                  },
                  "base64_image": {
                    "type": "string",
                    "example": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer", "example": 1 },
                    "user_id": { "type": "integer", "example": 1 },
                    "full_name": { "type": "string", "example": "John Doe" },
                    "created_at": { "type": "integer", "example": 1640995200 }
                  },
                  "required": ["id", "user_id", "full_name", "created_at"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data (e.g., missing user_id or full_name)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "user_id and full_name are required"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Retrieve all contacts for a user",
        "description": "Returns a list of contacts for the specified user. The user_id must be provided as a query parameter.",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": { "type": "integer" },
            "description": "ID of the user whose contacts are to be retrieved"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "integer", "example": 1 },
                      "user_id": { "type": "integer", "example": 1 },
                      "full_name": { "type": "string", "example": "John Doe" },
                      "phone_number": {
                        "type": "string",
                        "example": "123-456-7890"
                      },
                      "email": {
                        "type": "string",
                        "example": "john.doe@example.com"
                      },
                      "city": { "type": "string", "example": "Anytown" },
                      "country": { "type": "string", "example": "USA" },
                      "base64_image": {
                        "type": "string",
                        "example": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
                      },
                      "is_favorite": { "type": "boolean", "example": true }
                    },
                    "required": ["id", "user_id", "full_name"]
                  }
                }
              }
            }
          },
          "400": {
            "description": "user_id query parameter is required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "user_id is required as a query parameter"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/contacts/{contact_id}": {
      "parameters": [
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "schema": { "type": "integer" },
          "description": "ID of the contact"
        },
        {
          "name": "user_id",
          "in": "query",
          "required": true,
          "schema": { "type": "integer" },
          "description": "ID of the user"
        }
      ],
      "get": {
        "summary": "Retrieve a specific contact",
        "description": "Fetches detailed information for a specific contact that belongs to the given user.",
        "tags": ["Contacts"],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer", "example": 1 },
                    "user_id": { "type": "integer", "example": 1 },
                    "full_name": { "type": "string", "example": "John Doe" },
                    "phone_number": {
                      "type": "string",
                      "example": "123-456-7890"
                    },
                    "email": {
                      "type": "string",
                      "example": "john.doe@example.com"
                    },
                    "street": { "type": "string", "example": "123 Main St" },
                    "city": { "type": "string", "example": "Anytown" },
                    "state": { "type": "string", "example": "CA" },
                    "postal_code": { "type": "string", "example": "90210" },
                    "country": { "type": "string", "example": "USA" },
                    "additional_info": {
                      "type": "string",
                      "example": "VIP client"
                    },
                    "base64_image": {
                      "type": "string",
                      "example": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
                    },
                    "created_at": { "type": "integer", "example": 1640995200 },
                    "is_favorite": { "type": "boolean", "example": true }
                  },
                  "required": ["id", "user_id", "full_name"]
                }
              }
            }
          },
          "400": {
            "description": "user_id query parameter is required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "user_id is required as a query parameter"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Contact not found or does not belong to this user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Contact not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a contact",
        "description": "Updates the details of a contact. The request body must include user_id (to verify ownership) along with any updated fields.",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": { "type": "integer" },
            "description": "ID of the user"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["user_id"],
                "properties": {
                  "user_id": { "type": "integer", "example": 1 },
                  "full_name": {
                    "type": "string",
                    "example": "John Doe Updated"
                  },
                  "phone_number": {
                    "type": "string",
                    "example": "987-654-3210"
                  },
                  "email": {
                    "type": "string",
                    "example": "john.updated@example.com"
                  },
                  "street": { "type": "string", "example": "456 Elm St" },
                  "city": { "type": "string", "example": "Othertown" },
                  "state": { "type": "string", "example": "NY" },
                  "postal_code": { "type": "string", "example": "12345" },
                  "country": { "type": "string", "example": "USA" },
                  "additional_info": {
                    "type": "string",
                    "example": "Updated info"
                  },
                  "base64_image": {
                    "type": "string",
                    "example": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Contact updated successfully"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data or missing user_id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "user_id is required as a query parameter"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Contact not found or does not belong to the user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Contact not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a contact",
        "description": "Deletes a contact. The user_id must be provided as a query parameter to ensure the contact belongs to the user.",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": { "type": "integer" },
            "description": "ID of the user"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Contact deleted successfully"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "404": {
            "description": "Contact not found or does not belong to the user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Contact not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/contacts/favorites": {
      "post": {
        "summary": "Mark a contact as favorite",
        "description": "Marks a contact as favorite by updating its is_favorite flag and adding a record to the favorites table. The user_id must be provided as a query parameter, and the request body must include the contact_id.",
        "tags": ["Contacts Favorites"],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": { "type": "integer" },
            "description": "ID of the user"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["contact_id"],
                "properties": {
                  "contact_id": { "type": "integer", "example": 2 }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact marked as favorite successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Contact added to favorites"
                    },
                    "contact_id": { "type": "integer", "example": 2 }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data or missing user_id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "user_id is required as a query parameter"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Contact not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Retrieve favorite contacts for a user",
        "description": "Returns a list of favorite contacts for the specified user. The user_id must be provided as a query parameter.",
        "tags": ["Contacts Favorites"],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": { "type": "integer" },
            "description": "ID of the user"
          }
        ],
        "responses": {
          "200": {
            "description": "Favorite contacts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "integer", "example": 2 },
                      "full_name": { "type": "string", "example": "John Doe" },
                      "email": {
                        "type": "string",
                        "example": "john.doe@example.com"
                      },
                      "phone_number": {
                        "type": "string",
                        "example": "123-456-7890"
                      },
                      "created_at": {
                        "type": "integer",
                        "example": 1640995200
                      },
                      "is_favorite": { "type": "boolean", "example": true }
                    },
                    "required": ["id", "full_name", "created_at"]
                  }
                }
              }
            }
          },
          "404": {
            "description": "No favorites found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "No favorites found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/contacts/favorites/{contact_id}": {
      "parameters": [
        {
          "name": "contact_id",
          "in": "path",
          "required": true,
          "schema": { "type": "integer" },
          "description": "ID of the contact to remove from favorites"
        },
        {
          "name": "user_id",
          "in": "query",
          "required": true,
          "schema": { "type": "integer" },
          "description": "ID of the user"
        }
      ],
      "delete": {
        "summary": "Remove a contact from favorites",
        "description": "Removes the favorite status from a contact by updating its is_favorite flag to false and deleting the record from the favorites table.",
        "tags": ["Contacts Favorites"],
        "responses": {
          "200": {
            "description": "Contact removed from favorites successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Contact removed from favorites"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "404": {
            "description": "Favorite contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Favorite contact not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
